/* Custom Styles for Portfolio */

/* Ensure navbar is always at the top */
.navbar {
    background-color: #121212 !important;
    border-bottom: 2px solid #9b59b6;
}

/* Make each section fill the viewport height */
.full-height-section {
    height: 100vh;
    background: linear-gradient(to bottom, #9b59b6, #121212, #121212, #9b59b6);
    color: #f0f0f0;
}

/* Header specific styling to keep text white */
header {
    background: linear-gradient(to bottom, #9b59b6, #121212);
}

.text-purple {
    color: #9b59b6;
}

.text-white {
    color: #f0f0f0;
}

body, html {
    font-family: 'Arial', sans-serif;
    scroll-behavior: smooth; /* Smooth scrolling */
}

/* Custom Button Styles */
.btn-primary {
    background-color: #9b59b6;
    border-color: #9b59b6;
}

.btn-primary:hover {
    background-color: #8e44ad;
    border-color: #8e44ad;
}

/* list group items for skills */
.list-group-item {
    background-color: #1b1b1b;
    color: #f0f0f0;
    border: 1px solid #9b59b6;
}

.list-group-item:hover {
    background-color: #9b59b6;
    color: #121212;
}

/* Footer Styling */
footer {
    background-color: #121212;
    border-top: 2px solid #9b59b6;
}
